{% extends "base.html" %}

{% load static %}

{% block content %}
<style>
    section{
        font-family : Poppins;
    }
</style>
<div class="row m-3">
  <section class="why_section  layout_padding2">
      <div class="heading_container ">
        <h2 class = "text-center">
            Password Change Form 
        </h2>
        <br>

        <div style = " font-family : poppins;" class = " container shadow P-5">
        <form action="" method="post" >

            {% csrf_token %}
            
            {% if messages %}
                {% for m in messages %}
                    <p {% if m.tags %} class = "alert alert-{{m.tags}} mb-5" {% endif %} >
                {{m}}
                    </p>
                {% endfor %}
            {% endif %}

                {{ form.as_p }}
               
              <input type= "submit" value= "Submit" class="btn btn-primary btn-block mb-4"  >
            <div class="text-center text-primary btn fw-bold">
                <sma11>New User ? 
                    <a href="/accounts/signup/" class="text-danger">
                Sign UP   
                 </a>
                </small>
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert-danger my-3">
                        {{error}}
                    </p>
                {% endfor %}
            {% endif %}
                        

        </form>
      </div>
      </div>
    </section>
</div>
{% endblock content %}